@using RealEstateApp.Core.Application.ViewModels.Property
@using RealEstateApp.Core.Application.ViewModels.PropertyType;
@using RealEstateApp.Core.Application.ViewModels.SellType;
@using RealEstateApp.Core.Application.ViewModels.Upgrade;
@*inject IHttpContextAccessor httpContextAccessor;*@
@model List<PropertyViewModel>
@{
    ViewData["Title"] = "Detalles propiedad";
}


@*{
   
    string role = "";
    if (user != null)
    {
        role = user.Roles[0];
    }
}*@

<div class="container">
    <div class="row">
        <div class="col-md-5">
           

            <div class="project-info-box">
                <p><b>Codigo:</b> @ViewBag.Properties.Code</p>
                <p><b>Habitaciones:</b> @ViewBag.Properties.Bedrooms</p>
                <p><b>Baños:</b> @ViewBag.Properties.Bathrooms</p>
                <p><b>Area:</b> @ViewBag.Properties.Size</p>
                <p class="mb-0"><b>Precio:</b> $@ViewBag.Properties.Price</p>
            </div><!-- / project-info-box -->

            <div class="project-info-box mt-0 mb-0">
                
                    <div class="">
                         <a class="btn btn-secondary" href='javascript:history.go(-1)'>Volver atrás</a>
                        
                       </div>
  
            </div><!-- / project-info-box -->
        </div><!-- / column -->

        <div class="col-md-7">
            <h1></h1>
                 <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active rounded" data-bs-interval="10000">
      <img src="@ViewBag.Properties.ImageUrl1" class="d-block w-100" alt="...">
      
    </div>
    <div class="carousel-item rounded" data-bs-interval="2000">
      <img src="@ViewBag.Properties.ImageUrl2" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item rounded">
      <img src="@ViewBag.Properties.ImageUrl3" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item rounded">
      <img src="@ViewBag.Properties.ImageUrl4" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
            <div class="project-info-box">
                <p><b>Tipo de Propiedad:</b> @ViewBag.Properties.Type.Name</p>
                <p><b>Tipo de Venta:</b> @ViewBag.Properties.SellType.Name</p>
                @foreach(UpgradeViewModel upgrade in ViewBag.Upgrades)
                {
                    <p><b>Tipo de Mejora:</b> @upgrade.Name</p>
                }
                
                
              
            </div><!-- / project-info-box -->
        </div><!-- / column -->
       
    </div>
</div>