@using RealEstateApp.Core.Application.ViewModels.Property;
@using RealEstateApp.Core.Application.ViewModels.PropertyType;

@model List<PropertyViewModel>
@{
    ViewData["Title"] = "Inicio";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-light">
                    <h4>Filtros</h4>
                </div>
                <div class="card-body">
                    <h4 class="card-title">Tipos de Propiedades</h4>
                    <form method="post" asp-controller="Home" asp-action="Filter">
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" value="null" type="radio" name="TypeId" id="propertyType-all" />
                                <label class="form-check-label" for="propertyType-all">Todas</label>
                            </div>
                        </div>

                        @foreach (PropertyTypeViewModel propertyType in ViewBag.PropertyType)
                        {
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" value="@propertyType.Id" type="radio" name="TypeId" id="category-@propertyType.Id" />
                                    <label class="form-check-label" for="categoria-@propertyType.Id">@propertyType.Name</label>
                                </div>
                            </div>
                        }

                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <h2 class="text-center">No hay propiedades</h2>
        }
        else
        {
            foreach (PropertyViewModel property in Model)
            {
                <div class="col-4 m-2">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://conceptodefinicion.de/wp-content/uploads/2014/03/arriend.jpg" class="card-img" style="width:100%;height:auto;">
                        </div>
                        <div class="card-body">
                            if (property.Type == null)
                            {
                            <p>No existen tipos de propiedades creadas</p>

                            }
                            else
                            {
                            <p>@property.Type.Name</p>
                            }

                            if (property.SellType == null)
                            {
                            <p>No existen tipos de ventas creadas</p>
                            }
                            else
                            {
                            <p>@property.SellType.Id</p>
                            }
                            <p><b>Codigo: </b>@property.Code</p>
                            <p><b>Precio:</b> $@property.Price</p>
                            <p><b>Habitaciones:</b> @property.Bedrooms</p>
                            <p><b>Baños:</b> @property.Bathrooms</p>
                            <p>Tamaño en metros: @property.Size</p>
                        </div>
                        <div class="btn-group">
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>