@using RealEstateApp.Core.Application.ViewModels.Admin
@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h3 class="mb-4">Dashboard</h3>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Propiedades</h5>
        <p class="card-text">@Model.Properties</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agentes</h5>
        <p class="card-text">Activos: @Model.ActiveAgents</p>
        <p class="card-text">Inactivos: @Model.InactiveAgents</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Clientes</h5>
        <p class="card-text">Activos: @Model.ActiveClients</p>
        <p class="card-text">Inactivos: @Model.InactiveClients</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Desarrolladores</h5>
        <p class="card-text">Activos: @Model.ActiveDevelopers</p>
        <p class="card-text">Inactivos: @Model.InactiveDevelopers</p>
      </div>
    </div>
  </div>
</div>