@using RealEstateApp.Core.Application.ViewModels.Property
@using RealEstateApp.Core.Application.ViewModels.User
@model List<PropertyViewModel>
@{
    ViewData["Title"] = "Inicio";
}

<h3 class="mb-4">Inicio</h3>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @if (Model == null || Model.Count == 0)
    {
        <h4>No hay propiedades agregadas en el sistema</h4>
    }
    else
    {
        @foreach (var prop in Model)
        {
            string meters = prop.Size + "mt";
            <div class="col">
                <div class="card">
                    <img src="@prop.ImageUrl1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@prop.Type.Name</h5>
                        <p class="card-text">
                            <b>Codigo</b><br />
                            @prop.Code<br /><br />

                            <b>@prop.SellType.Name</b><br />
                            RD$@prop.Price
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <p><i class="fa-solid fa-bed"></i> @prop.Bedrooms <i class="fa-solid fa-bath"></i> @prop.Bathrooms <i class="fa-solid fa-maximize"></i> @meters</p>

                    </div>
                </div>
            </div>
        }
    }


</div>

