@using RealEstateApp.Core.Application.ViewModels.Property
@model List<PropertyViewModel>
@{
    ViewData["Title"] = "Properties";
}

<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-4 offset-8">
            <a class="btn btn-success w-100" asp-controller="Property" asp-action="Create">Crear nueva propiedad</a>
        </div>
    </div>
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <h2 class="text-center">No hay propiedades registradas</h2>
        }
        else
        {
            foreach (PropertyViewModel property in Model)
            {
                <div class="col-4 m-2">
                    <div class="card">
                        <div class="card-header">
                            <img src="https://www.economiafinanzas.com/wp-content/uploads/2009/07/inmobiliaria.jpg" style="width:100%;height:auto;">
                        </div>
                        <div class="card-body">
                            <p>@property.Type.Name</p>
                            <p><b>Codigo</b> <br /> @property.Code</p>
                            <p>Alquiler</p>
                            <p>RD $@property.Price</p>
                            <p>Habitaciones: @property.Bedrooms</p>
                            <p>Baños: @property.Bathrooms</p>
                            <p>Tamaño en metros: @property.Size&sup2;</p>
                            <div class="btn-group">
                                <a class="btn btn-outline-warning" asp-controller="Property" asp-action="Edit" asp-route-id="@property.Id">Editar</a>
                                <a class="btn btn-outline-danger" asp-controller="Property" asp-action="Delete" asp-route-id="@property.Id">Borrar</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>